<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-lg-6">
            <img src="./assets/img/bank.png" alt="bank" style="width: 110%;margin-right: -10px;">
        </div>


        <div class="col-lg-6">

            <mat-card class="p-5" style="width: 100%;">

                <p class="text-danger" *ngIf="isUserInvalid">{{error}}</p>
                <h2>Login to Internet Banking</h2>
                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username" formControlName="userId">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password"  type="password" formControlName="password">
                    </mat-form-field>
                    <section class="w-100 mb-3">
                        <div class="form-check"><label class="form-check-label"><input class="form-check-input"
                                    type="checkbox" value=""> Remember Password <span class="form-check-sign"><span
                                        class="check"></span></span></label></div>
                    </section>



                    <button mat-flat-button color="primary" [disabled]="!loginForm.valid || loading3"
                        style="width: 120px;">
                        <img *ngIf="loading3"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        Login</button>
                </form>
                <button *ngIf="!hideKeyb" mat-flat-button (click)="showkEY()" color="primary" style="position: relative;top:-52px;left: 350px;width: 120px;">Show Keyboard</button>
                <button *ngIf="hideKeyb" mat-flat-button (click)="hdekEY()" color="primary" style="position: relative;top:-52px;left: 350px;width: 120px;">Hide Keyboard</button>

            </mat-card>
        </div>
    </div>
    <div class="simple-keyboard"></div>
</div>