<nav class="navbar navbar-inverse navbar-expand-lg bg-dark mb-0" role="navigation-demo">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="/home">ABC Bank<div class="ripple-container"></div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" *ngIf="enableNavigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#pablo" class="nav-link">
            Discover
          </a>
        </li>
        <li class="nav-item">
          <a href="#pablo" class="nav-link">
            Wishlist
          </a>
        </li>
        <!-- <li class="nav-item">
          <a (click)="openDialog()" class="btn btn-rose btn-raised btn-fab btn-round">
            <i class="material-icons">email</i>
            <div class="ripple-container"></div>
          </a>
        </li> -->
        <li class="dropdown nav-item">
          <!-- <a href="void:0" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
              <div class="profile-photo-small">
                <img src="./assets/img/faces/avatar.jpg" (click)="toggle()" alt="Circle Image" class="rounded-circle img-fluid">
              </div>
            <div class="ripple-container"></div></a>
            <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show': showDropdown}">
              <h6 class="dropdown-header">Dropdown header</h6>
              <a  class="dropdown-item">{{userName}}</a>
              <a  class="dropdown-item">Settings and other stuff</a>
              <a  class="dropdown-item" (click)="logOut()">Sign out</a>
            </div> -->
          <button mat-button [matMenuTriggerFor]="menu">Account</button>
          <mat-menu #menu="matMenu">
            <div style="padding: 10px 0">
              <!-- <div class="profile-photo-small">
                        <img src="./assets/img/faces/avatar.jpg" (click)="toggle()" alt="Circle Image" class="rounded-circle img-fluid">
                      </div> -->
              <div style="display: block;padding:10px 0;text-align:center">
                <h4 *ngIf="userName" style="margin: 0;padding:0;font-weight:500;">{{userName}}</h4>
              </div>
              <button mat-stroked-button routerLink="" style="border-radius:30px;margin:10px 30px;">
                Manage your Bank account
              </button>
            </div>
            <mat-divider></mat-divider>
            <div style="padding: 10px 0;text-align: center">
              <button mat-button (click)="logOut()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Sign out</span>
              </button>
            </div>

          </mat-menu>


        </li>


      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-->
</nav>
<!-- <div class="alert alert-primary bg-my-primary mb-0 p-2" *ngIf="adminPanel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 d-flex align-items-center">
        <ul class="subnav pl-0 mb-0">
          <li class="subnav-item mr-3 text-capitalize small" *ngFor="let item of category">
            <a routerLink="{{item.encodedUrl}}">
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div> -->