<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div class="card">
   
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                
                  <th class="ng-star-inserted">Name</th>
                  <th class="ng-star-inserted">Country</th>
                  <th class="ng-star-inserted">City</th>
                  <th class="ng-star-inserted">Salary</th>
                </tr>
              </thead>
              <tbody>
              
                <tr class="ng-star-inserted">
                  <td>Dakota Rice</td>
                  <td>Niger</td>
                  <td>Oud-Turnhout</td>
                  <td class="text-primary">$36,738</td>
                </tr>
                <tr class="ng-star-inserted">
                  <td>Minerva Hooper</td>
                  <td>Curaçao</td>
                  <td>Sinaai-Waas</td>
                  <td class="text-primary">$23,789</td>
                </tr>
                <tr class="ng-star-inserted">
                  <td>Sage Rodriguez</td>
                  <td>Netherlands</td>
                  <td>Baileux</td>
                  <td class="text-primary">$56,142</td>
                </tr>
                <tr class="ng-star-inserted">
                  <td>Philip Chaney</td>
                  <td>Korea, South</td>
                  <td>Overland Park</td>
                  <td class="text-primary">$38,735</td>
                </tr>
                <tr class="ng-star-inserted">
                  <td>Doris Greene</td>
                  <td>Malawi</td>
                  <td>Feldkirchen in Kärnten</td>
                  <td class="text-primary">$63,542</td>
                </tr>
                <tr class="ng-star-inserted">
                  <td>Mason Porter</td>
                  <td>Chile</td>
                  <td>Gloucester</td>
                  <td class="text-primary">$78,615</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->

<footer>
  <p class="text-center">© ABC Bank</p>
</footer>