<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
      <div class="col-8 offset mt-5">

          <mat-card class="p-5">
             

              <h2>{{name}}</h2>
              <form class="example-form" [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
                  <mat-form-field class="example-half-width" >
                      <input matInput  placeholder="Customer Id" formControlName="customerId">
                      <!-- <button  style="position: relative;left: 550px;" (click)="openDialog()" mat-stroked-button><i class="fa fa-search fa6" aria-hidden="true"></i> Search</button> -->

                  </mat-form-field>
                 
                  

                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Customer Name" formControlName="customerName">
                  </mat-form-field>


                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primary Account owner" formControlName="accountOwner" readonly>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Branch Name</mat-label>
                    <mat-select formControlName="branchName" (selectionChange)="changeClient($event.value)">
                      <mat-option *ngFor="let item of branchName"  [value]="item.branch_address">
                        {{item.branch_address}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
<!-- 
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerStart" [min]="todayDate"  formControlName="startDate" placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #pickerStart></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerEnd" [min]="todayDate"  formControlName="endDate" placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #pickerEnd></mat-datepicker>
                  </mat-form-field> -->


                 
<!-- 
                  <mat-form-field>
                    <mat-label>Preffer Tower</mat-label>
                    <mat-select formControlName="prefferTowerValue">
                      <mat-option *ngFor="let item of prefferTower" [value]="item.value">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <mat-form-field class="example-full-width">
                      <input type="number" matInput placeholder="Initial balance" formControlName="balance">
                  </mat-form-field>

                  <button mat-raised-button class="btn btn-primary" [disabled]="!regiForm.valid">
                      Submit Request
                  </button>
              </form>
          </mat-card>
      </div>
      <div class="col-1" style="margin-top: 170px;">
          <button class="btn btn-md btn-primary" (click)="openDialog()" mat-stroked-button><i class="fa fa-search fa6" aria-hidden="true"></i> Search</button>
      </div>
  </div>
</div>